<div class="col" style="display: flex;align-items:center;justify-content: center;padding-top: clamp(20px, 50px, 100px);">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #userForm="ngForm" (ngSubmit)="onSubmitUserForm(userForm)">
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" class="form-control"  name="email" ngModel #email="ngModel"
        required>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          minlength="6"
          #password="ngModel"
          ngModel
          required
        >
      </div>
      <div style="margin-top: 15px;">
        <button class="btn btn-primary" [disabled]="!userForm.valid" type="submit">{{isLoginMode?'login':'sign up'}}</button> |
        <button class="btn btn-primary" type="button" (click)="OnSwitchMode()">switch to {{!isLoginMode?'login':'sign up'}}</button>
      </div>
    </form>
  </div>
</div>
